@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');
body {
    margin: 0;
    background-image: url("Untitled\ design.png");
    background-color: white;
    color: #004165;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Acme';
}

.navbar-default {
    margin: 0;
    border-radius: 0;
}

.contact {
    text-align: right;
    margin: 20px;
    font-size: 20px;
}

.border {
    background-color: white;
    background-image: url("b7.png");
    color: #004165;
    margin: 30px;
    padding: 30px;
}

p {
    font-family: 'Montserrat';
    font-weight: bold;
}

img {
    margin: 0;
}

nav,
div {
    margin: 0;
    margin-top: 0px;
}

img-responsive {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    margin-top: 0px;
}